<h1>DREAM LOG</h1>

<div id="new-dream">
  <a href="/dreams/new">LOG NEW DREAM</a>
</div>

<h2>PAST DREAMS</h2>

<% @dreams.each do |dream| %>
  <div class ="dream">
    <a href="/dreams/<%= dream.id %>" data-method="delete" class="edit">X</a>
  <p><%= dream.title %></p>
  <p><%= dream.dream %></p>
  </div>
<% end %>
