<h2>Dream Logs</h2>

  <a href="/dreams/new">New Dream</a>

<% @dreams.each do |dream| %>
  <p><%= dream.title %></p>
  <p><%= dream.dream %></p>
  <a href="/dreams/<%= dream.id %>/edit">Edit</a>
  <a href="/dreams/<%= dream.id %>" data-method="delete">Delete</a>
<% end %>
